@media only screen and (max-width: 991px) {
    .navbar h3 {
        font-size: 16px;
    }

    .company-title h1 {
        font-size: 36px;
    }

    .search-tab .bold-title {
        margin-bottom: 20px;
    }

    .table-scroll {
        overflow: auto;
    }

    .table-scroll table {
        min-width: 1000px;
    }

    .search-sec.login {
        margin-top: 35px;
    }

    .search-sec .form-label {
        font-size: 17px;
    }
}

@media only screen and (max-width: 767px) {
    .navbar .container {
        flex-wrap: initial;
    }

    .navbar .container h3 {
        margin-left: 20px;
    }

    .navbar {
        background-color: transparent;
    }

    .navbar .container h3 {
        color: #201C59;
    }

    .theme-btnn {
        display: block;
        text-align: center;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .home-btn {
        margin-top: 50px;
    }

}

@media only screen and (max-width: 500px) {
    .navbar h3 {
        font-size: 13px;
    }

    .navbar img {
        width: 36px;
    }

    .tab-sec .nav-tabs .nav-link {
        padding: 12px 10px;
    }

    .search-tab .nav-tabs .nav-item.show .nav-link,
    .search-tab .nav-tabs .nav-link.active {
        height: auto;
        border-bottom: solid 1px #000;
    }

    .mt-5 {
        margin-top: 2rem !important;
    }

    .mb-5 {
        margin-bottom: 2rem !important;
    }

    .search-tab .accounts-div {
        margin-top: 30px;
    }

    .search-sec h1 {
        font-size: 30px;
    }

}

@media only screen and (max-width: 350px) {}